<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item"> <!-- Add active class for bold menu list -->
                <a class="nav-link" routerLinkActive="active" routerLink="recipes">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="shopping-list">Shopping List</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item dropdown" appDropdown #openDropdownMenu="appDropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Manage 
                </a>
                <div [ngClass]="{'show': openDropdownMenu.isOpen}" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">Save Data</a>
                    <a class="dropdown-item">Fatch Data</a>
                </div>
            </li>
        </ul>
    </div>
</nav>