<div class="row no-gutters">
    <div class="col-lg-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Recipe Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter recipe name">
            </div>
            <div class="form-group">
                <label for="imagePath">Recipe Image URL</label>
                <input type="text" class="form-control" id="imagePath" formControlName="imagePath" placeholder="Enter recipe image url">
            </div>
            <div class="form-group">
                <img src="" alt="">
            </div> 
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" formControlName="description" placeholder="Enter recipe description" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-lg-7" formArrayName="ingredients">
                    <div class="row mb-2" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i">
                        <div class="col-lg-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row no-gutters action">
                        <button class="btn btn-primary mr-2" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row no-gutters action">
                <button class="btn btn-success mr-2" type="submit" [disabled]="!recipeForm.valid">Save</button>
                <button class="btn btn-danger" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>