<div class="row no-gutters">
    <div class="col-lg-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <div class="row no-gutters">
            <ul class="list-group">
                <li class="list-group-item" 
                    *ngFor="let ingredient of ingredients; let i = index"
                    (click)="onEditItem(i)"
                    style="width: 700px; cursor: pointer;">
                    {{ ingredient.name }} | {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
</div>