<div class="row no-gutters">
    <div class="col-lg-12">
        <div class="row no-gutters">
            <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
        </div>
        <div class="row no-gutters">
            <h1>{{ recipe.name }}</h1>
        </div>
        <div class="row no-gutters">
            <div class="dropdown" appDropdown #openDropdownMenu="appDropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage
                </button>
                <div class="dropdown-menu" [ngClass]="{'show': openDropdownMenu.isOpen}" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a>
                  <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
                  <a class="dropdown-item">Delete</a>
                </div>
              </div>
        </div>
        <div class="row no-gutters">
            <p>{{ recipe.description }}</p>
        </div>
        <div class="row no-gutters">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients" style="width: 700px; cursor: pointer;">
                    {{ ingredient.name }} | {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
</div>