<div class="row no-gutters " [routerLink]="[index]" style="outline: none;">
    <div class="card mb-3 sigle-recipe-list" routerLinkActive="active" style="max-width: 540px; max-height: 200px; cursor: pointer;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> {{ recipe.name }} </h5>
                    <p class="card-text"> {{ recipe.description }} </p>
                </div>
            </div>
            <div class="col-md-4">
                <img [src]="recipe.imagePath" class="card-img" alt="{{ recipe.name }}">
            </div>
        </div>
    </div>
</div>