<div class="row no-gutters action mb-4">
    <button class="btn btn-outline-primary" (click)="onNewRecipe()">New Recipe</button>
</div>
<div class="row no-gutters">
    <div class="col-lg-12">
        <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i"></app-recipe-item>
    </div>
</div>