<div class="row no-gutters">
    <div class="col-lg-6">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row no-guters form-row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required>
              </div>
              <div class="form-group col-md-3">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
              </div>
            </div>
            <div class="row no-gutters">
                <button type="submit" class="btn btn-success mr-3" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                <button type="button" class="btn btn-danger mr-3" (click)="onDelete()" *ngIf="editMode">Delete</button>
                <button type="button" class="btn btn-primary mr-3" (click)="onClear()">Clear</button>
            </div>
        </form>
    </div>
</div>